<div class="grid grid-cols-12">
    <div class="col-span-9">
        <container icon="pi pi-calendar" title="Calendar" subtitle="Forecast your spendings">
            <ng-template #body>
                <div class="grid grid-cols-12 h-screen">
                    <div class="col-span-12">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </ng-template>
        </container>
    </div>
    <div class="col-span-3">
        <container icon="pi pi-wallet" title="Transactions" subtitle="Your transactions for this month">
            <ng-template #body>
                <div class="grid grid-cols-12 overflow-y-auto h-140">
                    <div class="col-span-12 mb-2" *ngFor="let event of events">
                        <transaction-card [event]="event"></transaction-card>
                    </div>
                </div>
            </ng-template>
        </container>
    </div>
</div>

<div *ngIf="false" class="bg-red-200 bg-green-200 text-green-700 text-red-700 text-green-500 text-red-500"></div>