@import "tailwindcss";
@import "primeicons/primeicons.css";

input,
select {
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
    border: 1px solid theme('colors.gray.300');
    height: 2.4rem;
}

textarea {
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
    border: 1px solid theme('colors.gray.300');
}

label {
    font-weight: bold;
}

input::placeholder {
    color: theme('colors.gray.500');
}

.btn {
    border-radius: 10px;
    padding: 0.3rem 1rem;
    width: 100%;
    cursor: pointer;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-black:hover {
    background-color: rgb(40, 40, 40);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 32px;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 32px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
}